/* You can add global styles to this file, and also import other style files */

/* bootstrap css */
.form-group {
    margin-bottom: 10px;
}
label {
    margin-bottom: 5px;
}
.btn-primary, .btn-outline-success {
    color: #fff !important;
}
/* dataTable css */
table.dataTable > tbody > tr.parent {
    background: #ececec;
}
table.dataTable > tbody > tr.child {
    background: #F9FBE7;
}
table.dataTable > tbody > tr.child ul.dtr-details {
    display: block !important;
}

table.dataTable .btn {
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff !important;
}
/* app css */
body {
    background-color: #e9ecef;
    background-image: url('./assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}
.color-white {
    color: #ffffff;
}
.color-black {
    color: #000000;
}
.color-orange {
    color: #ff5722;
}
.color-red {
    color: #ff0000;
}
.color-green {
    color: #43a047;
}
.strong {
    font-weight: bold;
}
.display-block {
    display: block !important;
}
.display-none {
    display: none !important;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 40px auto;
    background: #212121;
    color: #ffffff;
    border-radius: 15px;
}
.form-signin h2 {
    margin-bottom: 0; 
}
.form-signin small.sub-title {
    display: block;
    margin-bottom: 15px;
}
.submit-wrapper {
    margin-top: 15px;
}
.main-body {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main-body .form-wrapper {
    max-width: 480px;
    margin: 30px auto;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
    min-width: 220px;
}
.main-body .form-wrapper .title {
    margin-bottom: 10px;
}
.main-header {
    background-color: #4CAF50;
    overflow: auto;
    padding: 15px;
}
.main-header h5 {
    margin-bottom: 0;
    line-height: 1.5;
}
.main-header .btn {
    margin-left: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.form-control.ng-touched.ng-invalid, 
.form-control.is-invalid,
.ng-select.ng-touched.ng-invalid,
.ng-select.is-invalid {
    border-color: #e83225;
}
/* @media screen and (max-width: 767px) {
    
    .main-header .btn:nth-child(2) {
        margin-top: 10px;
    }
} */